<app-topbar></app-topbar>

<div fxLayout="column" fxLayoutAlign="center center" fxFlex="0 1 800px" class="full-content">
	<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="content-box">
	<mat-card fxFlex="50">
		<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-icon class="icon">contact_support</mat-icon>
			<h2>For any queries or suggestions, Contact us below!</h2>
			<h3>Anubhav Agarwal <br> Head, Corporate Relations <br> <a href="tel:+917355367551">+91-7355367551</a> </h3>
			<h3>Ayush Mishra <br> Executive <br> <a href="tel:+917023413037">+91-7023413037</a> </h3>
			<h3>Priyanshu Gupta <br> Executive <br> <a href="tel:+917017716763">+91-7017716763</a> </h3>
			<h3>Email at <a href="mailto:ca@ecelliitk.com">ca@ecelliitk.com</a> </h3>
			<br>
			<!-- <h3>For any website related issues contac </h3> -->
			
		</div>

		<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
			<h3>Utkarsh Barsaiyan<br> Head, Web <br> <a href="tel:+917318018609">+91-7318018609</a> </h3>
			<h3>Mayank Sharma<br> Head, Web <br> <a href="tel:+919461240034">+91-9461240034</a> </h3>
		</div>
		<hr style="width: 100%;">
		<!--<div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
			 -  <a mat-raised-button color="primary" target="_blank" (click)="openPopup(post.permalink_url)" >Share</a>
			 -  <a mat-raised-button color="primary" target="_blank" [href]="post.permalink_url" rel="noopener">View</a>
			 -</div>-->
		 <div>
		

		 </div>
	</mat-card>
	</div>
</div>

<!-- <div class="bg" *ngIf="posts" fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
	<fb-post *ngFor="let post of posts; let i = index" [href]="post.permalink_url" fxFlex="50" fxFlexOffset="50px"></fb-post>
	<br>
	</div> -->
