<div id="particles-js">
  <app-topbar></app-topbar>
  <div class="container">
    <div class="tasks" fxFlex="0 1 600px" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="12px">
      <mat-card *ngFor="let task of tasks; let i = index" class="task-card" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="5px">

				<mat-card-header>
					<!--<mat-card-title class="mat-title task-title">Task Title</mat-card-title>-->
					<span class="mat-title task-title">Tasks Title</span>
				</mat-card-header>
        <div class="task-content">Sample task Sample task Sample task Sample task Sample task Sample task Sample task Sample task Sample task Sample task 
          Sample task Sample task Sample task Sample task Sample task Sample task Sample task Sample task Sample task Sample task 
          Sample task Sample task Sample task Sample task Sample task Sample task Sample task Sample task Sample task 
        </div>
				<hr style="width: 90%; margin-bottom:15px">
				<form width="100%" #linkForm="ngForm" name="{{'form'+i}}">
						<mat-checkbox [(ngModel)]="checked" name="checked">&nbsp;&nbsp;&nbsp;&nbsp; </mat-checkbox>
						<mat-form-field class="form-width">
							<input matInput [disabled]="!linkForm.checked_0" placeholder="Submit Link/Proof to task completion">
							<mat-icon matSuffix>mode_edit</mat-icon>
						</mat-form-field>&nbsp; &nbsp;
						<button mat-raised-button color="accent" disabled="linkForm.checked">Submit</button>
					</form>
					{{linkForm.value | json}}
      </mat-card>      
    </div>
  </div>
</div>
