<div id="particles-js">
	<app-topbar></app-topbar>
	<div class="container">
		<div class="tasks" fxFlex="0 1 600px" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="12px">
			<mat-card *ngFor="let task of tasks; let i = index" class="task-card" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="5px">
				<mat-card-header>
					<!--<mat-card-title class="mat-title task-title">Task Title</mat-card-title>-->
					<span class="mat-title task-title">{{task.title}}</span>
				</mat-card-header>
				<div class="task-content" [innerHtml]="task.task | html">
				</div>
				<hr style="width: 90%; margin-bottom:15px"><br>
				<form *ngIf="!task.submitStatus" width="100%" #f="ngForm" name="{{'form'+i}}" (ngSubmit)="onSubmit(f.value, task.id)" >
					<mat-checkbox ngModel name="checked{{i}}" #tick="ngModel" [disabled]="!task.enabled">&nbsp;&nbsp;&nbsp;&nbsp; </mat-checkbox>
					<mat-form-field class="form-width" >
						<input matInput [disabled]="tick.value == false" [placeholder]="!task.enabled?'Disabled':'Submit Proof/Link to completion' " required name="link_{{i}}" ngModel >
						<input matInput style="display:none" name="{{task.id}}">
						<mat-icon matSuffix>mode_edit</mat-icon>
					</mat-form-field>&nbsp; &nbsp;
					<button mat-raised-button color="accent" [disabled]="(tick.value == true && !f.valid) || tick.value == false">Submit</button>
				</form>

				<div *ngIf="task.submitStatus" class="submitStatus">
					<div *ngIf="(task.submitStatus === 1)">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
							<circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
							<polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
						</svg>
						<p class="success">Done!</p>

					</div>
					<div *ngIf="(task.submitStatus === 2)">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
							<circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
							<line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
							<line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
						</svg>
						<p class="error">Oops!</p>	
					</div>
				</div>
				<!--{{f.value | json}}
			-{{f.valid | json}}-->
			</mat-card>      
		</div>
	</div>
</div>
