<div id="particles-js">
  <app-topbar></app-topbar>
  <div class="container">
    <div class="tasks" fxFlex="0 1 600px" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="12px">
      <mat-card *ngFor="let task of [0,1,2]" class="task-card" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="5px">
        <span class="mat-title task-title">Task Title</span>
        <div class="task-content">Sample task Sample task Sample task Sample task Sample task Sample task Sample task Sample task Sample task Sample task 
          Sample task Sample task Sample task Sample task Sample task Sample task Sample task Sample task Sample task Sample task 
          Sample task Sample task Sample task Sample task Sample task Sample task Sample task Sample task Sample task 
        </div>
        <!-- <app-link-submission></app-link-submission> -->
      </mat-card>      
    </div>
  </div>
</div>