<app-topbar></app-topbar>
<div id="particles-js"></div>
<div *ngIf="posts" fxLayout="column" fxLayoutAlign="center center" fxLayoutWrap class="full-content">

	<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="content-box" *ngFor="let post of posts">
		<!-- <div class="bg" *ngIf="posts" fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
		-    <fb-post *ngFor="let post of posts; let i = index" [href]="post.permalink_url" fxFlex="50" fxFlexOffset="50px"></fb-post>
		-    <br>
		-</div> -->
	<mat-card>
		<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
			<img class="fb-img" [src]="post.full_picture" alt="Image">
			<div class="mt-1 line-breaker" [innerHTML]="post.message">
			</div>
		</div>
		<br>
		<hr style="width: 100%;" style="">
		<div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
			<a mat-raised-button color="primary" target="_blank" (click)="openPopup(post.permalink_url)" >Share</a>
			<a mat-raised-button color="primary" target="_blank" [href]="post.permalink_url" rel="noopener">View</a>
		</div>
	</mat-card>
	<br>
	</div>
</div>
<div class="container loading" *ngIf="!posts" fxLayoutAlign="center center">
	<h2> Loading... </h2>
</div>

<!-- <div class="bg" *ngIf="posts" fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
	<fb-post *ngFor="let post of posts; let i = index" [href]="post.permalink_url" fxFlex="50" fxFlexOffset="50px"></fb-post>
	<br>
	</div> -->
