<div *ngIf="posts" fxLayout="column" fxLayoutAlign="center center" fxLayoutWrap class="full-content" [@flyInAnimation]="">
    <div class="content-box mx-auto my-3 no-padding" *ngFor="let post of posts">
        <div class="" fxLayout="column" fxLayoutAlign="center stretch">
            <img class="img-fluid mx-auto col-12 no-padding" [src]="post.full_picture" alt="Image">
            <div class="mt-1 line-breaker" [innerHTML]="post.message">
            </div>
        </div>
        <div class="text-center hover-blue pb-3 px-3">
            <a class="btn btn-outline-primary">Share</a>
            <a class="btn btn-outline-primary link" target="_blank" [href]="post.permalink_url" rel="noopener">View</a>
        </div>
    </div>
</div>
<div class="container loading" *ngIf="!posts" fxLayoutAlign="center center">
    <h2> Loading... </h2>
</div>

<div class="bg" *ngIf="posts" fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
    <fb-post *ngFor="let post of posts; let i = index" [href]="post.permalink_url" fxFlex="50" fxFlexOffset="50px"></fb-post>
    <br>
</div>
<br>