<div fxLayout="column" fxLayoutAlign="center center" fxFlex="0 1 800px" class="full-content">
	<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="content-box">
		<mat-card>
			<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
<h2>Thanks for Sharing our Post!</h2>
<p>This window will automatically close in 5 seconds.</p>
			</div>
		</mat-card>
	</div>
</div>
