<div class="bg" fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
	<h1 class="big-heading mat-display-2" *ngIf="userName">Hi {{userName}}!</h1>
	<div class="big-heading mat-display-2">
		What would you like to do?	
	</div><br>
	<a mat-raised-button (click)="openModal()" color="primary">
		UpStart Registration Form	
	</a>	
	<a mat-raised-button (click)="openUploader()" class="minwidth" color="primary" >
		Upload Link to Pitch Deck	
	</a>	
	<a mat-raised-button (click)="openGuide()" color="primary">
		Guide Lines	
	</a>	
</div>
<app-topbar></app-topbar>
