<div class="bg" fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
	<div class="big-heading mat-display-2">
		E-Summit 2018 Registrations Portal
	</div>
	<img fxFlex="150px" fxFlex.lt-sm="100px" src="../../assets/logos/EcellIITKLOGOwhite.png" alt="E-Cell, IIT Kanpur" />
	<div class="description mat-headline">
		Why follow when you can lead?
	</div>
<a (click)="login()" mat-raised-button class="facebookLoginBtnMain xLargeFacebookBtn">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216 216" class="svg_facebook"><path fill="white" d="
			M204.1 0H11.9C5.3 0 0 5.3 0 11.9v192.2c0 6.6 5.3 11.9 11.9
			11.9h103.5v-83.6H87.2V99.8h28.1v-24c0-27.9 17-43.1 41.9-43.1
			11.9 0 22.2.9 25.2 1.3v29.2h-17.3c-13.5 0-16.2 6.4-16.2
			15.9v20.8h32.3l-4.2 32.6h-28V216h55c6.6 0 11.9-5.3
			11.9-11.9V11.9C216 5.3 210.7 0 204.1 0z"></path></svg>
		<span>Continue with Facebook</span>
</a>
	<!--<div class="fb-login-button"  data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true" [attr.scope]="this.loginService.options.scope" id="loginButton">
		 -</div >-->


	<!--<div class="example-button-row">
		 -  <a (click)="getProfile()" mat-raised-button color="primary" routerLink="/dashboard">Dashboard</a><br>
		 -  <a (click)="logout()" mat-raised-button color="primary" routerLink="/login">Login</a><br>
		 -  <a (click)="feedComponent()" mat-raised-button color="primary" routerLink="/fbposts">Fb Posts</a><br>
		 -</div>-->
</div>
