<!--<button mat-button [matMenuTriggerFor]="menu">Menu</button>
   -<mat-menu #menu="matMenu">
   -  <button mat-menu-item>Item 1</button>
   -  <button mat-menu-item>Item 2</button>
   -</mat-menu>
   -->
<mat-toolbar class="topbar" fxLayout="row">
	<mat-icon>link</mat-icon>
	<span fxFlexOffset="10px" fxFlex="0 0 80px">E-Cell Registrations Portal</span>
	<span fxFlex></span>
	<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
		<a mat-raised-button [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
			Home
		</a>
		<a mat-raised-button [routerLink]="['/leaderboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
			Leaderboard
		</a>
		<a mat-raised-button [routerLink]="['/info']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
			Info
		</a>
		<a mat-raised-button [routerLink]="['/contacts']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
			Contacts
		</a>
	</div>
	<a *ngIf="!logOutPressed" (click)="logOut()">
		<button mat-icon-button>
			<mat-icon>exit_to_app</mat-icon>
		</button>
	</a>
	<mat-progress-spinner [diameter]="40" *ngIf="logOutPressed" color="primary" mode="indeterminate" value="50">
	</mat-progress-spinner>
</mat-toolbar>