<!--<button mat-button [matMenuTriggerFor]="menu">Menu</button>
   -<mat-menu #menu="matMenu">
   -  <button mat-menu-item>Item 1</button>
   -  <button mat-menu-item>Item 2</button>
   -</mat-menu>
   -->
<mat-toolbar class="topbar" fxLayout="row">
	<mat-icon>link</mat-icon>
	<span fxFlexOffset="10px" fxFlex="0 0 80px">E-Cell Campus Ambassadors Portal</span>
	<span fxFlex></span>
	<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
		<a mat-raised-button color="primary" [routerLink]="['/fbposts']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
			FB Posts
		</a>
		<a mat-raised-button color="primary" [routerLink]="['/tasks']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [matBadge]="taskCount" matBadgeColor="accent">
			Tasks
		</a>
		<a mat-raised-button color="primary" [routerLink]="['/leaderboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
			Leaderboard
		</a>
		<a mat-raised-button color="primary" [routerLink]="['/guidelines']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
			Guidelines	
		</a>
		<a mat-raised-button color="primary" [routerLink]="['/contacts']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
			Contacts
		</a>
	</div>
	<a *ngIf="!logOutPressed" (click)="logOut()">
		<button mat-icon-button>
			<mat-icon>exit_to_app</mat-icon>
		</button>
	</a>
	<mat-progress-spinner [diameter]="40" *ngIf="logOutPressed" color="primary" mode="indeterminate" value="50">
	</mat-progress-spinner>
</mat-toolbar>
