<app-topbar></app-topbar>

<div fxLayout="column" fxLayoutAlign="center center" fxFlex="0 1 800px" class="full-content">
	<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="content-box">
		<mat-card fxFlex="50">
			<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
				<mat-icon class="icon">build</mat-icon>
				<h2>Leaderboard Under Construction!</h2>
			</div>
			<hr style="width: 100%;">
			<!--<div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
		 -  <a mat-raised-button color="primary" target="_blank" (click)="openPopup(post.permalink_url)" >Share</a>
		 -  <a mat-raised-button color="primary" target="_blank" [href]="post.permalink_url" rel="noopener">View</a>
		 -</div>-->
	 <div>
		 <h4>Your Referral Code : </h4> <h2>{{referralID}}</h2><br>
		 <p>You may refer other users to register for E-Summit 2018 and its various competitions using this Referral Code. </p>

		 <p>
		 While this component is under contruction, fret not, all your scores will be with us. Each like or share that your shared posts receive, or each tasks you submit, shall be used for calculating your final score. <br>
		 <p>
		 While this component is under contruction, fret not, all your scores will be with us. Each like or share that your shared posts receive, or each tasks you submit, shall be used for calculating your final score. <br>
		 <br>
		 This leaderboard will display your rank, along with the top 10 leaders.
		 </p> 
		 <div fxLayout="column" fxLayoutAlign="center" class="pointDetails">
			 <h3>Points for Various Actions shall be as follows:</h3>
			 <ul>
				 <li>
					 1 Registration using CA Referral ID = 50 Points
				 </li>
				 <li>
					 1 Share = 10 points 
				 </li>
			 </ul>
		 </div>


	 </div>
		</mat-card>
	</div>
</div>

<!-- <div class="bg" *ngIf="posts" fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
	<fb-post *ngFor="let post of posts; let i = index" [href]="post.permalink_url" fxFlex="50" fxFlexOffset="50px"></fb-post>
	<br>
	</div> -->
