<app-topbar></app-topbar>

<div fxLayout="column" fxLayoutAlign="center center" fxLayoutWrap class="full-content">
	<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="content-box">
	<mat-card fxFlex="50">
		<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-icon class="icon">build</mat-icon>
			<h2>Under Construction!</h2>
		</div>
		<hr style="width: 100%;" style="">
		<!--<div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
			 -  <a mat-raised-button color="primary" target="_blank" (click)="openPopup(post.permalink_url)" >Share</a>
			 -  <a mat-raised-button color="primary" target="_blank" [href]="post.permalink_url" rel="noopener">View</a>
			 -</div>-->
		 <div>
			 <p>
			 While this component is under contruction, fret not, all your scores will be with us. Each like or share that your shared posts receive, or each tasks you submit, shall be used for calculating your final score. <br>
			 <br>
			 This leaderboard will display your rank, along with the top 10 leaders.
			 </p> 
		 </div>
	</mat-card>
	</div>
</div>
<div class="container loading" *ngIf="!posts" fxLayoutAlign="center center">
	<h2> Loading... </h2>
</div>


<!-- <div class="bg" *ngIf="posts" fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
	<fb-post *ngFor="let post of posts; let i = index" [href]="post.permalink_url" fxFlex="50" fxFlexOffset="50px"></fb-post>
	<br>
	</div> -->
