.white-bg{
	background-color: #fff;
}

.full-content {
	position: absolute;
	width: 50%;
	top: 64px;
	left: 10px;
	right: 10px;
	min-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

.fb-img {
	width: 100%;
	max-height: 600px;
	margin: auto;
}
.icon {
	transform: scale(1.5);
	color: #E91E63;
}
h2 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
	Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 2em;
}
p {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
	Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 1.2em;
}
