<div fxLayout="row">
	<mat-card fxFlex="100" >
		<form [formGroup]="form">
			<mat-form-field class="mainContainer">
				<input matInput placeholder="Startup Name" formControlName="startupName">
				<mat-error *ngIf="emailFormControl.hasError('required')">
					Startup Name is <strong>required</strong>
				</mat-error>
			</mat-form-field>
			<br>	

			<mat-form-field>
				<mat-select formControlName="numPersons" (change)="foo()" placeholder="Number of Persons in Team">
					<mat-option *ngFor="let val of PersonsArray" [value]="val.id" >{{val.id}}</mat-option>
				</mat-select>
			</mat-form-field>


			<div formArrayName="allPersons">
				<div *ngFor="let personInput of form.get('allPersons').controls; let i=index" [formGroupName]="i">
					<mat-form-field>
						<input matInput placeholder="Person Name" formControlName="name">
					</mat-form-field>
					<!--<input placeholder="">-->
				</div>
			</div>


			<mat-form-field>
				<input matInput placeholder="Email Address" formControlName="email">
				<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
					Please enter a valid email address
				</mat-error>
				<mat-error *ngIf="emailFormControl.hasError('required')">
					Email is <strong>required</strong>
				</mat-error>
			</mat-form-field><br>

			<mat-form-field>
				<input matInput placeholder="Contact Number" formControlName="contactNo">
				<mat-error *ngIf="emailFormControl.hasError('required')">
					Phone Number is <strong>required</strong>
				</mat-error>
			</mat-form-field><br>


			<mat-form-field>
				<input matInput placeholder="Location" formControlName="location">
			</mat-form-field><br>

			<mat-radio-group class="example-radio-group">
				<!--<mat-radio-button class="example-radio-button" *ngFor="let evt of eventNames" [value]="evt">
			-  {{evt | uppercase}}
			-</mat-radio-button>-->
		Which Event would you like to take part in?
		<mat-radio-button class="example-radio-button" value="upbiz" checked>
			UpStart Biz 
		</mat-radio-button>
		<mat-radio-button class="example-radio-button" value="upsocha">
			UpStart Socha
		</mat-radio-button>
		<mat-radio-button class="example-radio-button" value="upstartDelhi">
			UpStart Delhi
		</mat-radio-button>
			</mat-radio-group>
			<!--<div formGroupName="allPersons">
		 -  <mat-form-field *ngFor="let val of Per">
		 -    <input matInput placeholder="Startup Name" formControlName="person1">
		 -  </mat-form-field>
		 -</div>-->
	 <!--<mat-form-field>
		-  <input matInput placeholder="Startup Name" formControlName="">
		-</mat-form-field>-->

		</form>	
		<br>
		<button (click)="onSubmit()" type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Submit</button>
		<!--{{ form.value | json }}<br>
			 -{{ form.valid | json }}<br>
			 -<h4>Name change log</h4>
			 -<div *ngFor="let name of nameChangeLog">{{name}}</div>-->

	</mat-card>
</div>
