  <div class="my-navbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="logo pr-3" fxLayout="row" fxLayoutAlign="center center">
      <div class="navigation px-3" fxHide fxShow.sm fxShow.xs fxLayout="column" fxLayoutAlign="center center"
           (click)="toggleProfile()">
        <!--<a name="user-circle-o" size="2"></a>-->
      </div>
    </div>
    <div fxShow.md class="full-height">
      <div class="navigation px-3" fxHide fxShow.sm fxShow.xs fxLayout="column" fxLayoutAlign="center center"
           (click)="clicked()">
        <!--<a [name]="getIcon()" size="2"></a>-->
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" class="full-height" fxHide.sm fxHide.xs>
      <a mat-raised-button class="navigation" fxLayoutAlign="column" fxLayoutAlign="center center"
         [routerLink]="['']" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">
        <a name="home"></a> Home
      </a>
      <a mat-raised-button class="navigation" fxLayoutAlign="column" fxLayoutAlign="center center"
         [routerLink]="['/leaderboards']" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">
        <a name="trophy"></a> Leaderboards
      </a>
      <a mat-raised-button class="navigation" fxLayoutAlign="column" fxLayoutAlign="center center"
         [routerLink]="['/info']" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">
        <a name="info"></a> Info
      </a>
      <a mat-raised-button class="navigation" fxLayoutAlign="column" fxLayoutAlign="center center"
         [routerLink]="['/contacts']" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">
        <a name="address-book"></a> Contacts
      </a>
      <div class="navigation" fxLayoutAlign="column" fxLayoutAlign="center center"
         (click)="loginService.logout()">
        <a name="sign-out"></a> Logout
      </div>
    </div>
  </div>
