.show {
  transform: translate3d(0, 0, 0) !important;
}

.dropdown-wrapper {
}

.dropdown {
  background-color: #3949ab;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: inline-block;
  position: absolute;
  right: 0;
  transform: translate3d(150%, 0, 0);
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
  transition-property: transform;
}

.my-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.my-navbar {
  /*background-color: #3949ab;*/
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  height: 64px;
}

/*.navigation {
 *  color: white;
 *  height: 100%;
 *  padding: 10px;
 *}
 *
 *.navigation:hover, .active {
 *  background-color: rgb(22,22,22);
 *  background-color: rgba(22,22,22, 0.5);
 *  cursor: pointer;
 *  text-decoration: none;
 *}
 *
 *.navigation:hover {
 *  text-decoration: none;
 *}
 *
 *.navigation:focus {
 *  text-decoration: none;
 *}*/

.full-height {
  height: 100%;
}

.logo {
  color: white;
  height: 100%;
}

fa {
  margin: 5px;
}
.button {

}
